Connected Services/PP_SOAP_Service/ExtendedPublicService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://facade-ch02.picturepark.com/ExtendedPublicService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" />
  <xs:import schemaLocation="http://facade-ch02.picturepark.com/ExtendedPublicService.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.WorldPort" />
  <xs:import schemaLocation="http://facade-ch02.picturepark.com/ExtendedPublicService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" />
  <xs:complexType name="ArrayOfint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfint" nillable="true" type="tns:ArrayOfint" />
  <xs:complexType name="ArrayOfstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring" />
  <xs:complexType name="ArrayOffloat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="float" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffloat" nillable="true" type="tns:ArrayOffloat" />
  <xs:complexType name="ArrayOfKeyValueOfDownloadArrayOfAssetSelection9aSSyLXK">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfDownloadArrayOfAssetSelection9aSSyLXK">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" name="Key" nillable="true" type="q1:Download" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" name="Value" nillable="true" type="q2:ArrayOfAssetSelection" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfDownloadArrayOfAssetSelection9aSSyLXK" nillable="true" type="tns:ArrayOfKeyValueOfDownloadArrayOfAssetSelection9aSSyLXK" />
  <xs:complexType name="ArrayOfKeyValueOfintPortViewField6jg_STziK">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintPortViewField6jg_STziK">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.WorldPort" name="Value" nillable="true" type="q3:PortViewField" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintPortViewField6jg_STziK" nillable="true" type="tns:ArrayOfKeyValueOfintPortViewField6jg_STziK" />
  <xs:complexType name="ArrayOfKeyValueOfDerivativeDefinitionArrayOfDerivativeRightU2tm7C3h">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfDerivativeDefinitionArrayOfDerivativeRightU2tm7C3h">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" name="Key" nillable="true" type="q4:DerivativeDefinition" />
            <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" name="Value" nillable="true" type="q5:ArrayOfDerivativeRight" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfDerivativeDefinitionArrayOfDerivativeRightU2tm7C3h" nillable="true" type="tns:ArrayOfKeyValueOfDerivativeDefinitionArrayOfDerivativeRightU2tm7C3h" />
  <xs:complexType name="ArrayOfKeyValueOfintArrayOfDerivativeDefinitionRightuUS27HWe">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintArrayOfDerivativeDefinitionRightuUS27HWe">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" name="Value" nillable="true" type="q6:ArrayOfDerivativeDefinitionRight" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintArrayOfDerivativeDefinitionRightuUS27HWe" nillable="true" type="tns:ArrayOfKeyValueOfintArrayOfDerivativeDefinitionRightuUS27HWe" />
  <xs:complexType name="ArrayOfKeyValueOfintArrayOfFieldRightuUS27HWe">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintArrayOfFieldRightuUS27HWe">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" name="Value" nillable="true" type="q7:ArrayOfFieldRight" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintArrayOfFieldRightuUS27HWe" nillable="true" type="tns:ArrayOfKeyValueOfintArrayOfFieldRightuUS27HWe" />
  <xs:complexType name="ArrayOfKeyValueOfintArrayOfPersonalItemRightuUS27HWe">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintArrayOfPersonalItemRightuUS27HWe">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" name="Value" nillable="true" type="q8:ArrayOfPersonalItemRight" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintArrayOfPersonalItemRightuUS27HWe" nillable="true" type="tns:ArrayOfKeyValueOfintArrayOfPersonalItemRightuUS27HWe" />
  <xs:complexType name="ArrayOfKeyValueOfintArrayOfSiteRightuUS27HWe">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintArrayOfSiteRightuUS27HWe">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" name="Value" nillable="true" type="q9:ArrayOfSiteRight" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintArrayOfSiteRightuUS27HWe" nillable="true" type="tns:ArrayOfKeyValueOfintArrayOfSiteRightuUS27HWe" />
  <xs:complexType name="ArrayOfKeyValueOfintArrayOfUserGroupRightuUS27HWe">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintArrayOfUserGroupRightuUS27HWe">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" name="Value" nillable="true" type="q10:ArrayOfUserGroupRight" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintArrayOfUserGroupRightuUS27HWe" nillable="true" type="tns:ArrayOfKeyValueOfintArrayOfUserGroupRightuUS27HWe" />
  <xs:complexType name="ArrayOfKeyValueOfintArrayOfWidgetRightuUS27HWe">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintArrayOfWidgetRightuUS27HWe">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" name="Value" nillable="true" type="q11:ArrayOfWidgetRight" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintArrayOfWidgetRightuUS27HWe" nillable="true" type="tns:ArrayOfKeyValueOfintArrayOfWidgetRightuUS27HWe" />
</xs:schema>