Connected Services/PP_SOAP_Service/ExtendedPublicService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.picturepark.com" elementFormDefault="qualified" targetNamespace="http://www.picturepark.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://facade-ch02.picturepark.com/ExtendedPublicService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" />
  <xs:import schemaLocation="http://facade-ch02.picturepark.com/ExtendedPublicService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" />
  <xs:import schemaLocation="http://facade-ch02.picturepark.com/ExtendedPublicService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://facade-ch02.picturepark.com/ExtendedPublicService.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Facet" />
  <xs:import schemaLocation="http://facade-ch02.picturepark.com/ExtendedPublicService.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.WorldPort" />
  <xs:import schemaLocation="http://facade-ch02.picturepark.com/ExtendedPublicService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/VIT.Common.DataContract" />
  <xs:import schemaLocation="http://facade-ch02.picturepark.com/ExtendedPublicService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.AssetContainer" />
  <xs:import schemaLocation="http://facade-ch02.picturepark.com/ExtendedPublicService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.User" />
  <xs:import schemaLocation="http://facade-ch02.picturepark.com/ExtendedPublicService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Configuration" />
  <xs:import schemaLocation="http://facade-ch02.picturepark.com/ExtendedPublicService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://facade-ch02.picturepark.com/ExtendedPublicService.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Communication" />
  <xs:import schemaLocation="http://facade-ch02.picturepark.com/ExtendedPublicService.svc?xsd=xsd18" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://facade-ch02.picturepark.com/ExtendedPublicService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetAssets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q1:CoreInfo" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="extendedAssetFilter" nillable="true" type="q2:ExtendedAssetFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="GetAssetsResult" nillable="true" type="q3:AssetItemCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetsByIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q4:CoreInfo" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="assetIds" nillable="true" type="q5:ArrayOfint" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="assetFilter" nillable="true" type="q6:AssetFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetsByIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="GetAssetsByIdsResult" nillable="true" type="q7:AssetItemCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Download">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q8:CoreInfo" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="assetSelection" nillable="true" type="q9:ArrayOfAssetSelection" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="downloadOptions" nillable="true" type="q10:DownloadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="DownloadResult" nillable="true" type="q11:Download" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadExtended">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q12:CoreInfo" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="assetSelection" nillable="true" type="q13:ArrayOfAssetSelection" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="downloadOptions" nillable="true" type="q14:DownloadOptions" />
        <xs:element minOccurs="0" name="createSingleDownload4MultipleFiles" type="xs:boolean" />
        <xs:element minOccurs="0" name="provideUniqueFileName" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadExtendedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DownloadExtendedResult" nillable="true" type="q15:ArrayOfKeyValueOfDownloadArrayOfAssetSelection9aSSyLXK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q16:CoreInfo" />
        <xs:element minOccurs="0" name="assetId" type="xs:int" />
        <xs:element minOccurs="0" name="updateStatistic" type="xs:boolean" />
        <xs:element minOccurs="0" name="businessProcessId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="businessProcessToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="GetMetadataResult" nillable="true" type="q17:AssetMetadata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetsMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q18:CoreInfo" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="assetIds" nillable="true" type="q19:ArrayOfint" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fieldIds" nillable="true" type="q20:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetsMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="GetAssetsMetadataResult" nillable="true" type="q21:ArrayOfAssetFieldValues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q22:CoreInfo" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Facet" minOccurs="0" name="searchParameters" nillable="true" type="q23:ArrayOfFacetSearchParameter" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Facet" minOccurs="0" name="selectedFacetValues" nillable="true" type="q24:ArrayOfFacetValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Facet" minOccurs="0" name="GetFacetsResult" nillable="true" type="q25:FacetResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssets2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q26:CoreInfo" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="assetFilter" nillable="true" type="q27:ExtendedAssetFilter" />
        <xs:element minOccurs="0" name="portName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssets2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.WorldPort" minOccurs="0" name="GetAssets2Result" nillable="true" type="q28:PortAssetItemCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetVersions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q29:CoreInfo" />
        <xs:element minOccurs="0" name="assetId" type="xs:int" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="assetFilter" nillable="true" type="q30:AssetFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetVersionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="GetAssetVersionsResult" nillable="true" type="q31:ArrayOfAssetVersion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDerivatives">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q32:CoreInfo" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="assetSelection" nillable="true" type="q33:ArrayOfAssetSelection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDerivativesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="GetDerivativesResult" nillable="true" type="q34:ArrayOfExtendedDerivative" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetContainers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q35:CoreInfo" />
        <xs:element minOccurs="0" name="parentAssetContainerId" nillable="true" type="xs:int" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="assetContainerType" nillable="true" type="q36:AssetContainerType" />
        <xs:element minOccurs="0" name="openAssetContainerId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="totalLayers" type="xs:int" />
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/VIT.Common.DataContract" minOccurs="0" name="desiredAssetContainerLanguage" nillable="true" type="q37:ApplicationLanguage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetContainersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.AssetContainer" minOccurs="0" name="GetAssetContainersResult" nillable="true" type="q38:ArrayOfAssetContainerItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/VIT.Common.DataContract" minOccurs="0" name="language" type="q39:ApplicationLanguage" />
        <xs:element minOccurs="0" name="language4ContentId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="aspNetSessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="skin" nillable="true" type="q40:SkinColor" />
        <xs:element minOccurs="0" name="clientGuid" nillable="true" type="xs:string" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="httpContextRequestInfo" nillable="true" type="q41:HttpContextRequestInfo" />
        <xs:element minOccurs="0" name="traceJobId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="CreateSessionResult" nillable="true" type="q42:CoreInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q43:CoreInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="LoginResult" nillable="true" type="q44:CoreInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginWithSecurityToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q45:CoreInfo" />
        <xs:element minOccurs="0" name="clientGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginWithSecurityTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="LoginWithSecurityTokenResult" nillable="true" type="q46:CoreInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurityToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="clientGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="authenticationUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="authenticationUserPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.User" minOccurs="0" name="userData" nillable="true" type="q47:UserData" />
        <xs:element minOccurs="0" name="traceJobId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurityTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSecurityTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q48:CoreInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="RenewSessionResult" nillable="true" type="q49:CoreInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q50:CoreInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsValidResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q51:CoreInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Configuration" minOccurs="0" name="GetConfigurationResult" nillable="true" type="q52:PublicConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationModificationDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q53:CoreInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationModificationDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetConfigurationModificationDateResult" type="q54:DateTimeOffset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentLanguages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentLanguagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Configuration" minOccurs="0" name="GetContentLanguagesResult" nillable="true" type="q55:ArrayOfLanguage4Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q56:CoreInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Configuration" minOccurs="0" name="GetAssetFieldsResult" nillable="true" type="q57:ArrayOfField" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguageConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q58:CoreInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguageConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Configuration" minOccurs="0" name="GetLanguageConfigurationResult" nillable="true" type="q59:LanguageConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacetConfigurationExtended">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q60:CoreInfo" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacetConfigurationExtendedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Facet" minOccurs="0" name="GetFacetConfigurationExtendedResult" nillable="true" type="q61:FacetConfigurationExtended" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscriptionInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q62:CoreInfo" />
        <xs:element minOccurs="0" name="subscriptionActionId" type="xs:int" />
        <xs:element minOccurs="0" name="distinct" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscriptionInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="GetSubscriptionInfoResult" nillable="true" type="q63:UserActionHistoryInfoCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmSubscriptionInfoReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q64:CoreInfo" />
        <xs:element minOccurs="0" name="subscriptionActionId" type="xs:int" />
        <xs:element minOccurs="0" name="batchGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmSubscriptionInfoReceivedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetLinksById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q65:CoreInfo" />
        <xs:element xmlns:q66="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="businessProcessIds" nillable="true" type="q66:ArrayOfint" />
        <xs:element minOccurs="0" name="startRow" type="xs:int" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetLinksByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Communication" minOccurs="0" name="GetAssetLinksByIdResult" nillable="true" type="q67:ArrayOfBusinessProcessShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAssetVersions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q68:CoreInfo" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="assetVersions" nillable="true" type="q69:ArrayOfAssetVersion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAssetVersionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAssets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q70:CoreInfo" />
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="assetIds" nillable="true" type="q71:ArrayOfint" />
        <xs:element minOccurs="0" name="deleteDependentAssets" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAssetsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDerivativeRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q72:CoreInfo" />
        <xs:element minOccurs="0" name="assetId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDerivativeRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="GetDerivativeRightsResult" nillable="true" type="q73:ArrayOfUserDerivativeRights" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q74:CoreInfo" />
        <xs:element minOccurs="0" name="assetId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="GetAssetRightsResult" nillable="true" type="q75:ArrayOfUserGroupAssetRights" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportSingleAsset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q76:CoreInfo" />
        <xs:element minOccurs="0" name="renderingJobId" type="xs:int" />
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="assetImportOptions" nillable="true" type="q77:AssetImportOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportSingleAssetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportSingleAssetResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAssetVersions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q78:CoreInfo" />
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="assetVersions" nillable="true" type="q79:ArrayOfAssetVersion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAssetVersionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDerivativeRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q80:CoreInfo" />
        <xs:element minOccurs="0" name="rightTemplateId" type="xs:int" />
        <xs:element minOccurs="0" name="isDerivativeRightTemplateOverridden" type="xs:boolean" />
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="assetIds" nillable="true" type="q81:ArrayOfint" />
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="userGroupDerivativeRights" nillable="true" type="q82:ArrayOfUserGroupDerivativeRights" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDerivativeRightsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAssetsRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q83:CoreInfo" />
        <xs:element minOccurs="0" name="rightTemplateId" type="xs:int" />
        <xs:element minOccurs="0" name="isAssetRightTemplateOverridden" type="xs:boolean" />
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="assetIds" nillable="true" type="q84:ArrayOfint" />
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="userGroupAssetRights" nillable="true" type="q85:ArrayOfUserGroupAssetRights" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAssetsRightsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssetMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q86:CoreInfo" />
        <xs:element minOccurs="0" name="assetId" type="xs:int" />
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Configuration" minOccurs="0" name="fieldValues" nillable="true" type="q87:ArrayOfFieldValue" />
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Configuration" minOccurs="0" name="fieldValues2Remove" nillable="true" type="q88:ArrayOfFieldValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssetMetadataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOriginalDerivative">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q89:CoreInfo" />
        <xs:element minOccurs="0" name="renderingJobId" type="xs:int" />
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="assetUpdateOptions" nillable="true" type="q90:AssetUpdateOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOriginalDerivativeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRenderingJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q91:CoreInfo" />
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="renderingClient" type="q92:RenderingClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRenderingJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateRenderingJobResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDerivative">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q93:CoreInfo" />
        <xs:element minOccurs="0" name="renderingJobId" type="xs:int" />
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="derivativeUpdateOptions" nillable="true" type="q94:DerivativeUpdateOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDerivativeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDerivative">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q95:CoreInfo" />
        <xs:element minOccurs="0" name="assetId" type="xs:int" />
        <xs:element minOccurs="0" name="derivativeDefinitionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDerivativeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAssets2AssetContainers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q96:CoreInfo" />
        <xs:element xmlns:q97="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="assetIds" nillable="true" type="q97:ArrayOfint" />
        <xs:element xmlns:q98="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="assetContainerIds" nillable="true" type="q98:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAssets2AssetContainersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAssetsFromAssetContainers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q99:CoreInfo" />
        <xs:element xmlns:q100="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="assetIds" nillable="true" type="q100:ArrayOfint" />
        <xs:element xmlns:q101="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="assetContainerIds" nillable="true" type="q101:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAssetsFromAssetContainersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssetsMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q102:CoreInfo" />
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="assetFieldValues" nillable="true" type="q103:ArrayOfAssetFieldValues" />
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="assetFieldValues2Remove" nillable="true" type="q104:ArrayOfAssetFieldValues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssetsMetadataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAssetContainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q105:CoreInfo" />
        <xs:element minOccurs="0" name="parentAssetContainerId" type="xs:int" />
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.AssetContainer" minOccurs="0" name="assetContainerTranslations" nillable="true" type="q106:ArrayOfAssetContainerTranslation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAssetContainerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAssetContainerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssetContainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q107:CoreInfo" />
        <xs:element minOccurs="0" name="assetContainerId" type="xs:int" />
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.AssetContainer" minOccurs="0" name="assetContainerTranslations" nillable="true" type="q108:ArrayOfAssetContainerTranslation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssetContainerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAssetContainerRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q109:CoreInfo" />
        <xs:element minOccurs="0" name="assetContainerId" type="xs:int" />
        <xs:element minOccurs="0" name="rightTemplateId" type="xs:int" />
        <xs:element minOccurs="0" name="isRightTemplateOverridden" type="xs:boolean" />
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.AssetContainer" minOccurs="0" name="userGroupAssetContainerRights" nillable="true" type="q110:ArrayOfUserGroupAssetContainerRights" />
        <xs:element xmlns:q111="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="exceptedAssetContainerIds" nillable="true" type="q111:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAssetContainerRightsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetContainerRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q112:CoreInfo" />
        <xs:element minOccurs="0" name="assetContainerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetContainerRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.AssetContainer" minOccurs="0" name="GetAssetContainerRightsResult" nillable="true" type="q113:ArrayOfUserGroupAssetContainerRights" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalAssets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q114:CoreInfo" />
        <xs:element xmlns:q115="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="assetContainerIds" nillable="true" type="q115:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalAssetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.AssetContainer" minOccurs="0" name="GetTotalAssetsResult" nillable="true" type="q116:ArrayOfAssetContainerTotalAssets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAssetContainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q117:CoreInfo" />
        <xs:element minOccurs="0" name="assetContainerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAssetContainerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveAssetContainer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q118:CoreInfo" />
        <xs:element minOccurs="0" name="sourceAssetContainerId" type="xs:int" />
        <xs:element minOccurs="0" name="destinationAssetContainerId" type="xs:int" />
        <xs:element minOccurs="0" name="insertBeforeAssetContainerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveAssetContainerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFieldSetIdByFieldName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q119:CoreInfo" />
        <xs:element minOccurs="0" name="assetContainerId" type="xs:int" />
        <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFieldSetIdByFieldNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFieldSetIdByFieldNameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFieldSetDefaultValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q120:CoreInfo" />
        <xs:element minOccurs="0" name="assetContainerId" type="xs:int" />
        <xs:element minOccurs="0" name="fieldSetId" type="xs:int" />
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Configuration" minOccurs="0" name="defaultValues" nillable="true" type="q121:ArrayOfFieldValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFieldSetDefaultValueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q122:CoreInfo" />
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.User" minOccurs="0" name="userData" nillable="true" type="q123:UserData" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q124:CoreInfo" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.User" minOccurs="0" name="GetUserByIdResult" nillable="true" type="q125:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q126:CoreInfo" />
        <xs:element minOccurs="0" name="start" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="limit" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userGroupId" nillable="true" type="xs:int" />
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="registrationState" nillable="true" type="q127:RegistrationState" />
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="renewalState" nillable="true" type="q128:RenewalState" />
        <xs:element minOccurs="0" name="sortField" nillable="true" type="xs:string" />
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="sortDirection" nillable="true" type="q129:SortDirection" />
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="additionalUserRightsCheck" nillable="true" type="q130:UserRight" />
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="additionalUserGroupRightsCheck" nillable="true" type="q131:UserGroupRight" />
        <xs:element minOccurs="0" name="onlyLocked" type="xs:boolean" />
        <xs:element minOccurs="0" name="onlyExpired" type="xs:boolean" />
        <xs:element minOccurs="0" name="onlyExpiredRenewals" type="xs:boolean" />
        <xs:element minOccurs="0" name="onlyActive" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.User" minOccurs="0" name="GetUsersResult" nillable="true" type="q132:UserCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q133:CoreInfo" />
        <xs:element xmlns:q134="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userIds" nillable="true" type="q134:ArrayOfint" />
        <xs:element minOccurs="0" name="substituteUserId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUsersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q135:CoreInfo" />
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.User" minOccurs="0" name="userData" nillable="true" type="q136:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q137:CoreInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.User" minOccurs="0" name="GetRightsResult" nillable="true" type="q138:Rights" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTraceJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q139:CoreInfo" />
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="traceJobType" type="q140:TraceJobType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTraceJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTraceJobResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.microsoft.com/Message" name="stream" type="q141:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UploadFileResult" type="q142:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFirstChunk">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q143:CoreInfo" />
        <xs:element minOccurs="0" name="buffer" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFirstChunkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UploadFirstChunkResult" type="q144:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadChunk">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q145:CoreInfo" />
        <xs:element xmlns:q146="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="transferGuid" type="q146:guid" />
        <xs:element minOccurs="0" name="buffer" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="offset" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadChunkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAssetLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q147:CoreInfo" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Asset" minOccurs="0" name="assetSelections" nillable="true" type="q148:ArrayOfAssetSelection" />
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="expirationDate" nillable="true" type="q149:DateTimeOffset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAssetLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Communication" minOccurs="0" name="CreateAssetLinkResult" nillable="true" type="q150:BusinessProcessShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssetLinks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q151:CoreInfo" />
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/PP.Common.DataContract.Communication" minOccurs="0" name="assetLinks" nillable="true" type="q152:ArrayOfBusinessProcessShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssetLinksResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAssetLinks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/PP.Common.DataContract" minOccurs="0" name="coreInfo" nillable="true" type="q153:CoreInfo" />
        <xs:element xmlns:q154="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="businessProcessIds" nillable="true" type="q154:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAssetLinksResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>